<script type="text/template" id="breadcrumb-first-tmpl">
    <div class="col-md-12 col-sm-12 col-xs-12">
    	<div class="inner-row">
        <ul class="breadcrumb-list">
</script>

<script type="text/template" id="breadcrumb-concat-tmpl">
            <li class="space">&nsbp;</li>
            <li><a href="">...</a></li>
</script>

<script type="text/template" id="breadcrumb-mid-tmpl">
            <li class="space">&nbsp;</li>
</script>

<script type="text/template" id="breadcrumb-last-tmpl">
        </ul>
      </div>
    </div>
</script>
