<script type="text/template" id="page-intro-copy-tmpl">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<div class="inner-content">
				{{#data.page-title-data}}
				<h2>{{{data.page-title-data}}}</h2>
				{{/data.page-title-data}}
				{{#data.subheadline-data}}
				<p>{{{data.subheadline-data}}}</p>
				{{/data.subheadline-data}}
				{{#data.next-steps-cta-data}}
				<a class="btn-secondary" href="{{data.next-steps-cta-url}}">{{data.next-steps-cta-data}}</a>
				{{/data.next-steps-cta-data}}
			</div>
		</div>
</script>
