<script type="text/html" id="sections-three-wide-row-tmpl" >
  <div class="row nested-no-max-width">
    <div class="inner-row three-wide">
      <div class="col-lg-4 col-md-4 col-sm-4 sections-cell sections-cell-0">
        <div class='sections-module first'></div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 sections-cell sections-cell-1">
        <div class='sections-module'></div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4 sections-cell sections-cell-2">
        <div class='sections-module'></div>
      </div>
    </div>
  </div>
</script>

<script type="text/html" id="sections-two-wide-row-tmpl">
  <div class="row nested-no-max-width">
    <div class="inner-row two-wide">
      <div class="col-lg-6 col-md-6 col-sm-6 sections-cell sections-cell-0">
        <div class='sections-module first'></div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-6 sections-cell sections-cell-1">
        <div class='sections-module'></div>
      </div>

    </div>
  </div>
</script>

